body {
  font-family: "Work Sans", sans-serif;
}

.hidden {
  display: none;
}

.emphasis {
  font-weight: 600;
  font-family: "Fraunces", serif;
}

.navbar {
  padding: 20px;
  color: black;
  background-color: white;
}

.nav-logo {
  width: 50%;
}

.home-logo {
  margin-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
}

.navbar-brand {
  font-family: "Fraunces", serif;
  font-size: 1.5em;
}

.nav-link {
  margin-right: 25px;
}

.navbar-button {
  background: black;
  border: 1px black solid;
  color: white;
  border-radius: 0;
  padding: 15px 30px 15px 30px;
}
.navbar-button:hover {
  background: white;
  border: 1px black solid;
  color: black;
  border-radius: 0;
  padding: 15px 30px 15px 30px;
}

.nav-icons {
  color: black;
  margin: auto 15px auto 15px;
}
.nav-icons:hover {
  color: black;
}

.home-mission {
  text-align: center;
  margin-top: 50px;
  font-size: 1em;
}

.home-mission-statement {
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 20px 15% 60px 15%;
  font-size: 2.5em;
}

@media only screen and (max-width: 768px) {
  .home-mission-statement {
    text-align: center;
    font-family: "Fraunces", serif;
    font-size: 1.5em;
  }
}

.home-row {
  margin-top: 30px;
  margin-bottom: 60px;
}

.home-text {
  font-family: "Fraunces", serif;
  margin-bottom: 20px;
}

.title {
  font-family: "Fraunces", serif;
  margin-bottom: 40px;
}

.services-row {
  margin-top: 40px;
  margin-bottom: 60px;
}

.about-row {
  margin-top: 45px;
}

.pictures-row {
  margin-top: 30px;
}

.about-intro {
  margin-top: 20px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
}

.person-list {
  margin-bottom: 40px;
  margin-top: 40px;
}

.contact-email {
  margin-top: 10px;
}

.listings-deck {
  margin-bottom: 30px;
}

.listings-card {
  margin-bottom: 3rem;
}

.footer {
  background: #f0f0f0;
  padding-bottom: 40px;
  padding-top: 20px;
}

.footer-title {
  font-family: "Fraunces", serif;
  margin: 20px 0px 20px 20px;
}

.footer-text {
  color: black;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
}

.footer-fathom {
  width: 200px;
}

.footer-nav-icons {
  color: black;
}

.footer-nav-icons:hover {
  color: black;
}

@media only screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }

  div.footer.row .col-md-3,
  div.footer.row .col-md-2 {
    margin-bottom: 35px;
  }
}
