body {
  font-family: "Work Sans", sans-serif;
}

.emphasis {
  font-weight: 600;
  font-family: "Fraunces", serif;
}

.navbar {
  padding: 20px;
  color: black;
  background-color: white;
}

.nav-logo {
  width: 50%;
}

.navbar-brand {
  font-family: "Fraunces", serif;
  font-size: 1.5em;
}

.nav-link {
  margin-right: 25px;
}

.navbar-button {
  background: black;
  border: 1px black solid;
  color: white;
  border-radius: 0;
  padding: 15px 30px 15px 30px;
}
.navbar-button:hover {
  background: white;
  border: 1px black solid;
  color: black;
  border-radius: 0;
  padding: 15px 30px 15px 30px;
}

.home-mission {
  text-align: center;
  margin-top: 50px;
  font-size: 1em;
}

.home-mission-statement {
  text-align: center;
  font-family: "Fraunces", serif;
  margin: 20px 250px 60px 250px;
  font-size: 2.5em;
}

.home-row {
  margin-top: 30px;
  margin-bottom: 60px;
}

.home-text {
  font-family: "Fraunces", serif;
  margin-bottom: 20px;
}

.title {
  font-family: "Fraunces", serif;
  margin-bottom: 40px;
}

.services-row {
  margin-top: 40px;
  margin-bottom: 60px;
}

.about-row {
  margin-top: 45px;
}

.pictures-row {
  margin-top: 30px;
}

.about-intro {
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  background: #f0f0f0;
  padding-bottom: 70px;
}

.footer-title {
  font-family: "Fraunces", serif;
  margin: 20px 0px 20px 20px;
}

.footer-text {
  margin: 20px 0px -15px 20px;
}
